nav{
    background-color:white;
    position:fixed
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li{
    float :left
}
li div{
    display: block;
    color:whitesmoke
}